body {font-family: Verdana,"DejaVu Sans",sans-serif;}
.one {background-color: rgb(233, 53, 83);}
#two {color: blue; font-size: 36px;}
.three {background-color: rgb(226, 59, 87);font-size: 24px;}
#four {background-color: rgb(132, 238, 132);font-size: 24px;font-weight: bold;}
.five {background-color: rgb(236, 64, 93);}